# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Silly Hope Demo.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\SillyHope\Silly Hope Demo\.idea\.idea.Silly Hope Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
